<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="background-color:black;color:white;padding:20px;">
    <a href="/ordinacija">Ordinacija</a>
    <a href='/contact'>Contact</a>
    <a href="/last_tasks">last_tasks</a>
  </div>
    <%= yield %>
  </body>
</html>
